@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    font-family: "Outfit";
}
#scancontainer{
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}
.scan-image{
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    border-radius: 15px;
}
.first{
    font-weight: 700;
    margin-bottom: 0;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}
.text-container{
    margin-top: 12px;
}
.second{
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
}
